[submodule "home/.vim/vendors/vim-pathogen"]
	path = home/.vim/vendors/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
