"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    _analyticsUserId: "a6669e24-585f-4be5-abcf-1009aef1b8a8"
    html_brace_style: "expand"
    html_indent_inner_html: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-phpmd"
      "language-twig"
      "linter-jshint"
      "linter-jsxhint"
      "spell-check"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "app/cache"
      "_cache"
      "_tmp"
      "_tools"
      "cgi-bin"
      ".vagrant"
      "userfiles"
      ".capistrano"
      "_builds"
      "_projects"
      "_steps"
    ]
    projectHome: "~/src/github.com/aegypius/"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  docblockr:
    per_section_indent: true
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "042b8423-000c-3604-2877-fa18bc8ce717"
  "file-icons": {}
  "file-types":
    Cargofile$: "source.coffee"
    gotpl: "source.gotemplate"
    thtm: "source.html"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "fuzzy-finder":
    ignoredNames: [
      "app/cache*"
    ]
  "git-diff": {}
  "language-gentoo":
    updateManifestOnSave: true
  linter:
    errorPanelHeight: 73
    ignoredLinterErrors: [
      "jsonlint"
      "php"
      "phpcs"
    ]
    showErrorInline: true
    showErrorPanel: false
    subtleLinterErrors: [
      "jscs"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  "linter-jscs":
    harmony: true
    onlyConfig: true
  "linter-less":
    includePath: [
      "vendor/bower_components"
    ]
  "linter-phpcs": {}
  metrics:
    userId: "5afe01d925f56ca54ea8945b2cce677f8755be3a"
  "mocha-test-runner":
    nodeBinaryPath: "/usr/bin/node"
  "one-dark-ui":
    layoutMode: "Spacious"
  "php-cs-fixer": {}
  "project-manager":
    sortBy: "group"
  react: {}
  "release-notes":
    viewedVersion: "0.1.0"
  "spell-check": {}
  tablr:
    csvEditor:
      header: true
    tableEditor: {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
