"*":
  _dart:
    _firstRun: true
    _version: "1.0.1"
  "atom-autocomplete-php": {}
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "a6669e24-585f-4be5-abcf-1009aef1b8a8"
    gherkin: {}
    handlebars: {}
    html:
      brace_style: "expand"
    jade: {}
    java: {}
    js: {}
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml:
      brace_style: "expand"
      default_beautifier: "JS Beautify"
      indent_inner_html: true
    xtemplate: {}
    yaml:
      disabled: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    use:
      "atom-ide-refactor": "never"
  "autocomplete-emojis": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  "compatibility-reporter":
    browsers: "last 1 version, last 3 IE versions, last 1 Samsung version, last 1 Android version"
    excludeVcsIgnoredFiles: false
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "source.yaml": [
        "neon"
        "yaml.dist"
        "yml.dist"
      ]
      "text.html.basic": [
        "thtm"
      ]
    disabledPackages: [
      "language-twig"
      "linter-jshint"
      "linter-jsxhint"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".wercker"
      "_site"
      ".DS_Store"
      "Thumbs.db"
      "app/cache"
      "_cache"
      "_tmp"
      "_tools"
      "cgi-bin"
      ".vagrant"
      "userfiles"
      ".nyc_output"
      ".capistrano"
      ".serenata"
      "_builds"
      "_projects"
      "_steps"
      ".rules"
      "**/var/cache"
      "**/.php_cs.cache"
    ]
    projectHome: "~/src/github.com/aegypius/"
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  "custom-folds":
    areRegionsFoldedOnLoad: true
  "disable-keybindings":
    communityPackages: [
      "regex-railroad-diagram"
    ]
  docblockr:
    per_section_indent: true
  editor:
    fontFamily: "Fira Code, Source Code Pro"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "042b8423-000c-3604-2877-fa18bc8ce717"
  "file-icons": {}
  "file-types":
    Cargofile$: "source.coffee"
    gotpl: "source.gotemplate"
    thtm: "source.html"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder":
    ignoredNames: [
      "app/cache*"
      "node_modules"
      "vendor"
    ]
    scoringSystem: "fast"
  "git-diff": {}
  "language-gentoo":
    updateManifestOnSave: true
  linter:
    ignoredLinterErrors: [
      "jsonlint"
      "php"
      "phpcs"
    ]
    subtleLinterErrors: [
      "jscs"
    ]
  "linter-docker": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
    useGlobalEslint: true
  "linter-js-standard-engine":
    enabledProjects: 3
  "linter-jscs":
    harmony: true
    onlyConfig: true
  "linter-less":
    includePath: [
      "vendor/bower_components"
    ]
  "linter-phpcs":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 108
  metrics:
    userId: "5afe01d925f56ca54ea8945b2cce677f8755be3a"
  "mocha-test-runner":
    nodeBinaryPath: "/usr/bin/node"
  nuclide:
    installRecommendedPackages: true
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      showOpenFiles: false
      showUncommittedChanges: false
  "one-dark-ui": {}
  "php-cs-fixer":
    executablePath: "/home/laurentn/.local/bin/php-cs-fixer"
    executeOnSave: true
  "php-ide-serenata":
    core: {}
    general:
      doNotAskForSupport: true
      doNotShowProjectChangeMessage: true
    linting:
      showMissingDocs: false
    storagePath: "/home/laurentn/.cache/php-ide-serenata"
  "php-integrator-base":
    general:
      indexContinuously: false
    linting:
      showMissingDocs: false
    memoryLimit: 2048
  "php-integrator-base:confirmed-upgrade-message": true
  "php-integrator-linter":
    validateDocblockCorrectness: false
  pigments:
    groupPaletteColors: "by file"
    markerType: "native-dot"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "project-manager":
    sortBy: "group"
  react: {}
  "release-notes":
    viewedVersion: "0.1.0"
  "spell-check":
    locales: [
      "en-US"
      "fr-FR"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "standard-formatter":
    checkStyleDevDependencies: true
    formatOnSave: true
    style: "semi-standard"
  tablr:
    csvEditor:
      header: true
    tableEditor: {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "todo-show":
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "web"
      "lib/3rdParties"
    ]
  "tool-bar": {}
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492510437
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
